 <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <table id="cart-content" class="table"cellspacing="0">
                    <thead class="thead">
                        <tr>
                            <th scope="col">Product Details</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-content">
                            <td class="image"><img style="width:100px;height:100px"src="images/card_1.jpeg" alt="product"></td>
                            <td class="name">Two States</td>
                            <td class="price">200</td>
                            <td class="quantity">
                                <i class="fa fa-angle-up"></i>
                                <p class="items">1</p>
                                <i class="fa fa-angle-down"></i>
                            </td>
                            <td> </td>
                            <td class="edit"><button class="btn btn-danger">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
                <button class="clear-cart btn btn-primary">Clear Cart</button>
                <span class="total-amount"style="font-weight:bold">Total Price:</span>
            </div>
        </div>
    </div>
     <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <table id="cart-content" class="table"cellspacing="0">
                    <thead class="thead">
                        <tr>
                            <th scope="col">Product Details</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-content">
                            <td class="image"><img style="width:100px;height:100px"src="images/card_1.jpeg" alt="product"></td>
                            <td class="name">Two States</td>
                            <td class="price">200</td>
                            <td class="quantity">
                                <i class="fa fa-angle-up"></i>
                                <p class="items">1</p>
                                <i class="fa fa-angle-down"></i>
                            </td>
                            <td> </td>
                            <td class="edit"><button class="btn btn-danger">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
                <button class="clear-cart btn btn-primary">Clear Cart</button>
                <span class="total-amount"style="font-weight:bold">Total Price:</span>
            </div>
        </div>
    </div>

























app.post('/auth', function (req, res) {
    var flag = false;
    var username
    db.collection('users').find({}).toArray(function (err, result) {
        for (var i = 0; i < result.length; i++) {
            if (result[i].username == req.body.username && result[i].password == req.body.password) {
                flag = true;
                username = result[i].username
            }
        }
        if (flag == true) {
            req.session.loggedIn = true
            req.session.username = username
            console.log(req.session.username)
            var newresult=[]
            db.collection('cart').find({ username: req.session.username }).toArray(function (error, result) {
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        newresult.push(result[i]);
                    }
                    req.session.loggedIn
                    req.session.notification = newresult.length;
            res.redirect('/')
                }
            })
        } else {
            res.redirect('/login')
        }
    })
});
