<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={{style}}>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <header>
        <div class="header-content">
            <span id="login-icon"><i class="fa fa-sign-in"></i></span>
            <span id="new-user"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <span id="login"><a href="../login" class="register">Login</a></span>
            <span id="sign-up"><a href="../signUp" class="register">Sign Up</a></span>
        </div>
        <div class="nav-content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-331832expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img class="logo" src="images/logo.png" alt="Bookworm">
                <div class="nav-data collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="nav-link" href="#">Buy</a>
                        </li> --}}
                        <li class="nav-item">
                            <a class="categories nav-link" href="/sell">Sell</b></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item bookpage" value="novels">Novels</a>
                                <a class="dropdown-item bookpage" value="action">Action</a>
                                <a class="dropdown-item bookpage" value="adventure">Adventure</a>
                                <a class="dropdown-item bookpage" value="biography">Biography</a>
                                <a class="dropdown-item bookpage" value="classics">Classics</a>
                                <a class="dropdown-item bookpage" value="crime-thriller">Crime and Thriller</a>
                                <a class="dropdown-item bookpage" value="fantacy">Fantacy</a>
                                <a class="dropdown-item bookpage" value="friction">Fiction</a>
                                <a class="dropdown-item bookpage" value="educational">Educational Books</a>
                                <a class="dropdown-item bookpage" value="children">Children Books</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        {{!-- <form class="form-inline my-2 my-lg-0"> --}}
                            {{!-- <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
                            <button type="submit" class="search-button"><i class="fa fa-search"></i></button> --}}
                        {{!-- </form> --}}
                        <li class="nav-item">
                            <a href="/cart">
                                <div class="cart-btn">
                                    <span class="nav-icon">
                                        <i class="cart-data fa fa-cart-plus">

                                        </i>
                                    </span>
                                </div>
                                <div class="cart-items">
                                    <span id="counter">0</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </header>
    {{{body}}}
    <footer>
        <div class="data col-sm-12">
            <div class="col-sm-3">
                <h3 id="footer-heading"></h3>
                {{!-- <img class="logo" src="images/logo.png" alt="Bookworm" /> --}}
                <ul style="list-style-type: none;">
                    <li>
                        <h3 style="font-weight:bold;color:#ff8400">Make Money with Us</h3>
                    </li>
                    <li style="color:whitesmoke">Sell on BookWorm</li>
                    <li style="color:whitesmoke">Advertise Your Products</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3 id="footer-heading">Useful Links</h3>
                <a class="text" href="/privacy">Privacy</a>
                <a class="text" href="/about">About Us</a>
                <a class="text" href="/terms">Terms</a>
                <a class="text" href="/contact">Contact Us</a>
            </div>
            <div class="footer-data col-sm-3">
                <h3 id="footer-heading">Connect Us</h3>
                <div class="social-media">
                    <a href="#"><i class="fa fa-facebook circle"></i></a>
                    <a href="#"><i class="fa fa-google-plus circle"></i></a>
                    <a href="#"><i class="fa fa-twitter circle"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="layout.js"></script>
    <script src={{script}}></script>
</body>

</html>